.block {
    padding: 1rem 0;
}

.disabledWarning {
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.5rem 0;
}

.btnBlock {
    display: flex;
    gap: 2px;
    align-items: flex-start;
}
