.block {
    position: absolute;
    left: 2px;
    top: 2px;
}

.online {
    width: 10px;
    color: green;
    transition: all 1s ease-in;
}

.offline {
    width: 10px;
    color: indianred;
    transition: all 1s ease-in;
    animation: blinkingColor 5s infinite;
}

@keyframes blinkingColor {
    0% {
        color: indianred;
    }
    50% {
        color: yellow;
    }
    100% {
        color: indianred;
    }
}