.panel {
    background-color: var(--toolbar-bg-color);
    width: 100%;
    position: fixed;
    z-index: 1000;
    transition: opacity 5.25s ease;
    animation: show-animation 0.25s ease;
    color: #34487c;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.3);
}

@keyframes show-animation {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}

.filters {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.filters > div {
    min-width: 200px;
}

.buttons {
    text-align: center;
    line-height: 3rem;
}