.nav {
    position: sticky;
    top: 0;
    background: deepskyblue;
    padding: 0 1rem;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.first, .last {
    flex-grow: 1;
    flex-basis: 0;
}

.first {
    display: flex;
    align-items: center;
}

.last {
    text-align: right;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.nav li {
    list-style: none;
    padding: 0 1rem;
}

@media (max-width: 640px) {
    .version {
        display: none;
    }
}
