.nav {
    position: sticky;
    top: 0;
    background: deepskyblue;
    padding: 0 1rem;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.nav > div {
    align-self: center;
}

.first, .last {
    flex-grow: 1;
    flex-basis: 0;
}

.last {
    text-align: right;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    line-height: 3rem;
}

.nav li {
    list-style: none;
    padding: 0 1rem;
}
